@model List<ReserveTable.App.Models.Restaurants.AllRestaurantsViewModel>


<div class="d-flex justify-content-center row">
    <div class="col-md-4">
        <h3>Sofia:</h3>
        <ul>
            @foreach (var restaurant in Model)
            {
                @if (restaurant.City == "Sofia")
                {
                    <li class="text-white"><a href="/Restaurants/@restaurant.City/@restaurant.Name">@restaurant.Name</a></li>
                }
            }
        </ul>
    </div>
</div>
<div class="d-flex justify-content-center p-2">
    <h5><a asp-controller="Home" asp-action="Index">Back to home page</a></h5>
</div>