@model ReserveTable.App.Models.Restaurants.CreateRestaurantBindingModel
@{
    ViewData["Title"] = "Create";
}

<h1 class="d-flex justify-content-center p-4">Add new restaurant</h1>

<hr />
<div class="row d-flex justify-content-center">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger font-weight-bold"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Restaurant name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger font-weight-bold"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label">Address</label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger font-weight-bold"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label">Phone Number</label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger font-weight-bold"></span>
            </div>
            <div class="form-group">
                <label asp-for="City">Select city:</label>
                <select class="form-control" asp-for="City" id="City">
                    <option selected disabled>Choose city</option>
                    @foreach (var cityName in (IEnumerable<string>)this.ViewData["cityNames"])
                    {
                        <option id="City">@cityName</option>
                    }
                </select>
            </div>
            <div class="form-group d-flex justify-content-center p-2">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="d-flex justify-content-center p-2">
    <h5><a asp-controller="Home" asp-action="Index">Back to home page</a></h5>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
