@model IEnumerable<ReserveTable.Models.Home.CitiesHomeViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center text-dark p-4">
    <h1 class="display-4"> <b>Welcome to ReserveTable!</b></h1>
</div>
<hr />
<h1 class="text-dark text-center">Reserve a table wherever you are! </h1>
@if(User.Identity.IsAuthenticated)
{
    <h2 class="text-center p-2 text-danger">Hello, @User.Identity.Name!</h2>
}

<div class="row mt-3 p-4">
    @foreach (var city in Model)
    {
    <div class="col-sm-4 d-flex justify-content-center p-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="@city.Photo">
            <div class="card-body">
                <h5 class="card-title">@city.Name</h5>
                <p class="card-text">Restaurants in @city.Name</p>
                <a href="/Cities/@city.Name" class="btn btn-primary">View restaurants</a>
            </div>
        </div>
    </div>
    }
</div>
