@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center text-reserve-table p-4">
    <h1 class="display-4 reserve-table"> Welcome to ReserveTable!</h1>
</div>
<div class="jumbotron jumbotron-fluid bg-reserve-table">
    <div class="container text-white">

        <h2> If you have a registration, <a href="/Identity/Account/Login">log in</a>.</h2>
        <h2> If you are new, register <a href="/Identity/Account/Register">here</a> and make your first reservation!</h2>
    
    <a> test </a>
    </div>
</div>