@using Microsoft.AspNetCore.Identity
@using ReserveTable.Domain
@inject SignInManager<ReserveTableUser> SignInManager
@inject UserManager<ReserveTableUser> UserManager

    <ul class="navbar-nav">
        @if (SignInManager.IsSignedIn(User))
        {
            if (User.IsInRole("Admin"))
            {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Admin Options
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="nav-link text-dark" asp-controller="Restaurants" asp-action="Create" title="Add new restaurant">Add Restaurant</a>
                        <a class="nav-link text-dark" asp-controller="Cities" asp-action="Create" title="Add new city">Add City</a>
                    </div>
                </li>
            }

            <li class="nav-item">
                <a class="nav-link" asp-controller="Reservations" asp-action="My" title="My reservations">My Reservations</a>
            </li>

            <li class="nav-item">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                </form>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
            </li>
        }
    </ul>