@model ReserveTable.Models.Reservations.CreateReservationViewModel

@{
    ViewData["Title"] = "Make Reservation";
}

@foreach (var item in ViewContext.ViewData.ModelState)
{
    if (item.Value.Errors.Any())
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Sorry!</strong>
            @((item.Value == null) ? "<null>" : item.Value.RawValue)
            @(string.Join("; ", item.Value.Errors.Select(x => x.ErrorMessage)))
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
}

<h2 class="text-center p-4">Reserve your table here</h2>
<hr />
<div class="row d-flex justify-content-center">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger font-weight-bold"></div>
            <div class="form-group">
                <label asp-for="SeatsCount" class="control-label">For how much people</label>
                <input asp-for="SeatsCount" class="form-control" />
                <span asp-validation-for="SeatsCount" class="text-danger font-weight-bold"></span>
            </div>
            <div class="form-group d-flex justify-content-around">
                <div>
                    <label asp-for="Date" class="control-label">Date</label>
                    <input type="date" asp-for="Date" class="form-control" />
                    <span asp-validation-for="Date" class="text-danger font-weight-bold"></span>
                </div>
                <div>
                    <label asp-for="Time" class="control-label">Time</label>
                    <input type="time" asp-for="Time" class="form-control" />
                    <span asp-validation-for="Time" class="text-danger font-weight-bold"></span>
                </div>
            </div>
            <div class="form-group d-flex justify-content-center">
                <input type="submit" value="Find a table" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="d-flex justify-content-center p-2">
    <h5><a asp-controller="Home" asp-action="Index">Home</a></h5>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

