@model ReserveTable.Models.Reservations.MyReservationsListViewModel

@{
    ViewData["Title"] = "My Reservations";
}

<h1 class="text-center p-4">My active reservations</h1>
<div class="text-center container-fluid">
    <hr />
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Restaurant</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        @foreach (var reservation in Model.Reservations)
        {
            <tbody>
                <tr>
                    <th scope="row">@reservation.Date</th>
                    <td>@reservation.Restaurant, @reservation.City</td>
                    <td><a class="btn btn-success mt-3" href="/Reservations/Cancel/@reservation.Id">Cancel reservation</a></td>
                </tr>
            </tbody>
        }
    </table>
</div>
<div class="d-flex justify-content-center mt-2 p-lg-5">
    <a href="/">Home</a>
</div>
