@model ReserveTable.Models.Tables.AddTableViewModel

<h2 class="text-center text-white p-3">Add new table</h2>
<hr />
<div class="row d-flex justify-content-center">
    <div class="col-md-4">
        <form asp-action="Add">
            <div asp-validation-summary="ModelOnly" class="text-warning font-weight-bold"></div>
            <div class="form-group">
                <label asp-for="SeatsCount" class="control-label text-white">Seats Count</label>
                <input asp-for="SeatsCount" class="form-control" />
                <span asp-validation-for="SeatsCount" class="text-warning font-weight-bold"></span>
            </div>
            <div class="form-group p-3 d-flex justify-content-center">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

