@model ReserveTable.Models.Tables.RestaurantTablesListViewModel
@{
    int id = 1;
}

<h1 class="text-center p-4">Tables in restaurant <a href="/Restaurants/@Model.CityName/@Model.RestaurantName">@Model.RestaurantName, @Model.CityName</a></h1>
<table class="table text-center mt-lg-5 container container-fluid">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Seats Count
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Tables)
        {
            <tr>
                <td>
                    @id
                    @{
                        id++;
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SeatsCount)
                </td>
            </tr>

        }
    </tbody>
</table>
<div class="d-flex justify-content-center p-lg-5">
    <a href="/Tables/@Model.CityName/@Model.RestaurantName/Add" class="btn btn-success">Add new table</a>
</div>
