@model ReserveTable.Models.Tables.RestaurantTablesListViewModel
@{
    int id = 1;
}

<h3 class="text-center text-white p-3">Tables in restaurant <a href="/Restaurants/@Model.CityName/@Model.RestaurantName">@Model.RestaurantName, @Model.CityName</a></h3>
<table class="table text-center mt-5">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Seats Count
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Tables)
        {
            <tr>
                <td>
                    @id
                    @{
                        id++;
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SeatsCount)
                </td>
                <td>
                    <a href="#" class="btn btn-success">View reservations</a>
                </td>
            </tr>

        }
    </tbody>
</table>
<div class="d-flex justify-content-center">
    <a href="/Tables/@Model.CityName/@Model.RestaurantName/Add" class="btn btn-success">Add new table</a>
</div>
